.hero-section {
  background-image: url('https://wallpapercave.com/wp/wp2887677.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}
.title {
  font-size: 4rem;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  color: white;
}
.subtitle {
  font-size: 2rem;
  max-width: 800px;
  margin-bottom: 2rem;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  letter-spacing: 1px;
}